# Ignorar entornos virtuales
.venv/
#vector_store/
*.pyc
__pycache__/


# Ignorar archivos de configuración con claves API
config.yaml
.env

# Otros archivos del sistema
.DS_Store
.vscode/
app/data_loader.py
app/prompts.py
data/library.pdf
.gitattributes
initialize_vector.py